<div class="container">
  <div class="row col-5 text-align:center">会員情報変更画面</div>
    <%= form_with(model:@customer, url:public_customer_path(@customer), local: true ,method: :put) do |f| %>
    <table>
        <tr>
            <div class="row my-3">
            <td><%= f.label :"氏名"%></td>
              <td><%= f.text_field :last_name %></td>
              <td><%= f.text_field :first_name %></td>
            </div>
        </tr>
            <tr>
                <div class="row my-3">
                <td><%= f.label :"フリガナ"%></td>
                <td><%= f.text_field :last_name_kana %></td>
                 <td><%= f.text_field :first_name_kana  %></td>
                </div>
            </tr>
                <tr>
                 <div class="row my-3">
                    <td><%= f.label :"郵便番号" %></td>
                    <td><%= f.text_field :address_number, autofocus: true, autocomplete: "address_number" %></td>
                </div>
                </tr>
                    <tr>
                     <div class="row my-3">
                        <td><%= f.label :"住所", class: "control-label" %></td>
                        <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
                    </div>
                    </tr>
                        <tr>
                        <div class="row my-3">
                            <td><%= f.label :"電話番号", class: "control-label" %></td>
                            <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
                        </div>
                        </tr>
                        <tr>
                        <div class="row my-3">
                            <td><%= f.label :"メールアドレス", class: "control-label" %></td>
                            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                        </div>
                        </tr>
    </table>
      <%= f.submit "編集内容を保存する", class: "btn btn-primary save col-xs-6 bg-success" %>
      <%= link_to '退会する', unsubscribe_public_customers_path(@customer.id), class: "glyphicon glyphicon-tint btn btn-danger"%>
      <%end%>
</div>