<div class="new-item">
    <%= form_with model: item , local:true do |f| %>
    <table class="new-item-table">
        
        <tr>
            <td>商品画像</td>

        </tr>
        <tr>
            <td>商品名</td>
            <td><%= f.text_field :name %></td>
        </tr>
        <tr>
            <td>商品説明</td>
            <td><%= f.text_area :introduction %></td>
        </tr>
        <tr>
            <td>ジャンル</td>
            <td><!--ジャンル作成後プルダウンメニューを作成--></td>
        </tr>
        <tr>
            <td>税抜価格</td>
            <td><%= f.text_field :price %>円</td>
        </tr>
        <tr>
            <td>販売ステータス</td>
            <td><!--ステータスの選択画面--></td>
        </tr>
    </table>
    <div class="form-group">
        <% if item.name.blank? %>
          <%= f.submit "新規登録", class: 'btn btn-success' %>
        <% else %>
          <%= f.submit "変更を保存", class: 'btn btn-success' %>
        <% end %>
    </div>
    <% end %>
</div>
