<h3>商品詳細</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <!--%= attachment_image_tag(@item) %-->
        </div>
        <div class="col-lg-8">
            <table class="item-table">
                <% items.each do |item| %>
                <tr>
                    <td>商品名</td>
                    <td><%= item.name %></td>
                </tr>
                <tr>
                    <td>商品説明</td>
                    <td><%= item.introduction %></td>
                </tr>
                <tr>
                    <td>ジャンル</td>
                    <td><%= item.genre %></td>
                </tr>
                <tr>
                    <td>税込価格<br />(税抜価格)</td>
                    <td>(<%= item.price %>)円</td><!--税込み価格を記載のこと-->
                </tr>
                <tr>
                    <td>販売ステータス</td>
                    <td><%= item.status %></td>
                </tr>
                <% end %>
            </table>
        </div>
        <div class="item-decide">
            <%= link_to '編集する', edit_admin_item(item.id), class: "btn-btn " %>
        </div>
    </div>
</div>