<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="title">
                <h3>ショッピングカート</h3>
            </div>
            <div class="destroy_all-button">
                <%= link_to "カートを空にする", destroy_all_public_cart_items_path, method: :delete, class: "btn btn-danger"%>
            </div>
            <br />
            <table class="table table-hover table-bordered">
                <thead>
                    <th class="border-dark">商品名</th>
                    <th class="border-dark">単価(税入)</th>
                    <th class="border-dark">数量</th>
                    <th class="border-dark">小計</th>
                    <th class="border-dark"> </th>
                </thead>
                <tbody>
                    <% @cart_items.each do |cart_item| %>
                        <tr>
                            <td class="border-dark">
                                <%= attachment_image_tag cart_item.item, :image, width:"50" ,fallback: "no_image.jpg" %>
                                <%= cart_item.item.name %>
                            </td>
                            <td class="border-dark">
                                ¥<%= (cart_item.item.price*1.1).floor %>
                            </td>
                            <td class="border-dark">
                                <%= form_with model: cart_item, url: public_cart_item_path(cart_item.id), local:true do |f| %>
                                    <%= f.select :amount, options_for_select((1..9), selected: cart_item.amount.to_i) %>
                                    <%# to_iメソッドは、文字列を整数に返すメソッド
                                        to_s(:delimited)メソッドは、3桁区切りで『,』をつけるメソッド%>
                                    <%= f.submit "変更", class: 'btn btn-success' %>
                                <% end %>
                            </td>
                            <td class="border-dark">
                                ¥<%= ((cart_item.item.price*1.1).to_i * (cart_item.amount).to_i) %>
                            </td>
                            <td class="border-dark">
                                <%= link_to '削除する', public_cart_item_path(cart_item.id),method: :delete, class:'btn btn-danger'  %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
            <div class="col-md-8" style="display:inline-block;">
                <%= link_to '買い物を続ける', public_items_path, class: "btn btn-primary" %>
            </div>
            <div class="sum-table" style="display:inline-block; text-align: right">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th class="border-dark">合計金額</th>
                        <td class="border-dark">¥<%= @total_price.floor.to_s(:delimited) %></td>
                    </tr>
                </table>
            </div>
    </div>
</div>
<div class="col text-center">
    <% unless current_customer.cart_items.empty? %>
    <%#ちゃんとログインされた会員が『情報入力に進む』ボタンを押したか？%>
        <%= link_to '情報入力に進む',new_public_order_path, class:"btn btn-success" %>
    <% end %>
</div>

