<h2>注文履歴一覧</h2>

<% @orders.each do |order| %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>注文日</th><th>配送先</th><th>注文商品</th><th>支払金額</th><th>ステータス</th><th>注文詳細</th>
    </tr>
  </thead>
  <tbody>
   <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
   <td>〒<%= order.postal_code %><br>
       <%= order.address %><br>
       <%= order.name %></td>
       <% order.order_details.each do |order| %>
        <td><%= order.item.name %></td>
       <% end %>
       <td><%= order.total %></td>
       <td><%= order.order_status %></td>
       <td><%= link_to "表示する", public_order_path(order) %></td>
  </tbody>
</table>
<% end %>
