 <%= form_with model: @order, url:public_log_path, class: "offset-md-1", local: true do |f| %>
  <h2 class="ml-4"><strong>注文情報入力</strong></h2>
   <strong>支払方法</strong>
   <div class="col-xs-10 radio ml-3">
    <%= f.radio_button :payment, :"クレジットカード", checked: true %>
    <span>&nbspクレジットカード</span>
   </div>
   <div class="col-xs-10 radio ml-3 mb-3">
    <%= f.radio_button :payment, :"銀行振込" %>
    <span>&nbsp銀行振込</span>


    <strong>お届け先</strong>

   <div class="col-xs-10 radio ml-3">
    <%= f.radio_button :address, "residence", checked: true %>
    <span>ご自身の住所</span><br>
    &nbsp&nbsp<%= "#{current_customer.item}""#{current_customer.address}" %><br>
    &nbsp&nbsp<%= "#{current_customer.first_name}""#{current_customer.last_name}" %>
   </div>
 <%end%>
