<h3>注文履歴詳細</h3>
<div class="container">
 <div class="row">
  <div class="col-md-4">


    <strong>注文情報</strong>
    <table class="table table-bordered">
      <tr>
          <th class="table-secondary">注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
          <th class="table-secondary">配送先</th>
          <td>〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %><br>
          </td>
      </tr>
      <tr>
          <th class="table-secondary">支払方法</th>
          <td><%= @order.payment %></td>
      </tr>
      <tr>
          <th class="table-secondary">ステータス</th>
          <td><%= @order.order_status %></td>
      </tr>
    </table>
 </div>


    <div class="col-md-4">
     <strong>請求情報</strong>
     <table class="table table-bordered">

      <tr>
       <th class="table-secondary">商品合計</th>
       <td><%= @order.total %></td>
      </tr>

      <tr>
       <th class="table-secondary">配送料</th>
       <td>800</td>
      </tr>

      <tr>
       <th class="table-secondary">ご請求額</th>
       <td><%= @order.total+800 %></td>
      </tr>
     </table>
    </div>
 </div>

 <div class="row">
  <div class="col">
     <strong>注文内容</strong>
     <table class="table table-bordered">
      <thead class="thead-light">
       <tr>
        <th>商品</th><th>単価（税込）</th><th>個数</th><th>小計</th>
       </tr>
      <% @order.order_details.each do |order| %>
       <tbody>
        <tr>
         <td><%= order.item.name %></td>
         <td><%= order.price %></td>
         <td><%= order.quantity %></td>
         <td><%= order.price*order.quantity%></td>
        </tr>
       </tbody>
      <% end %>
      </thead>

     </table>
  </div>
 </div>

</div>
