<div class ="container">
    <div class ="row">
        <div class="col-lg-12">
            <div class="add-genre">
                <h3>ジャンル一覧・追加</h3>
                <p>ジャンル名</p>
                <%= form_for(@genre, url:admin_genre_index_path) do |f| %>
                    <%= f.text_field :name %>
                    <%= f.submit "新規登録", class: "btn btn-primary" %>
                <% end %>
            </div>
            <div class="genre-list">
                <table>
                    <thead>
                        <th>ジャンル</th>
                    </thead>
                    <tbody>
                        <% @genres.each do |genre| %>
                            <td><%= genre.name %></td>
                            <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-primary" %></td>
                            <br />
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
