<div class ="container">
    <div class ="row">
      <div class="col-lg-12">
        <div class="add-genre">
          <div class="title">
            <h3>ジャンル一覧・追加</h3>
          </div>
          <br/>
          <div class="new-genre">
            <p>ジャンル名</p>
            <%= form_for(@genre, url:admin_genre_index_path) do |f| %>
              <%= f.text_field :name %>
              <%= f.submit "新規登録", class: "btn btn-success" %>
            <% end %>
          </div>
        <div>
        <div>
          <table class='table table-bordered table-hober'>
            <thead class="table-active">
              <th class="table-inverse border-dark">ジャンル</th>
              <th　class="bg-transparent"></th>
            </thead>
            <tbody>
              <% @genres.each do |genre| %>
              <tr>
                <td class="border-dark"><%= genre.name %></td>
                <td class="table-borderless"><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %></td>
              </tr>
              <tr>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
