
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="title">
                <h3>商品詳細</h3>
            </div>
            <%= attachment_image_tag @item, :image, :fill, 200, 300, fallback: "no_image.jpg" %>
        </div>
        <div class="col-lg-8">
            <h3><%= @item.name %></h3>
            <p><%= @item.introduction %></p>
            <h3>¥<%= (@item.price*1.1).floor %>(税込)</h3>
            <%#= @item.select :quantity, [1,2,3,4,5,6,7,8,9] %>

        <div class="item-decide">
            <%= link_to 'カートに入れる', class: "btn btn-success", style: "text-align:center" %>
            <!--カートアイテムのpathに飛ぶようにする。(5/20時点では商品リストに飛ぶ)-->
        </div>
    </div>
</div>