<!DOCTYPE html>
<html>
  <head>
    <meta charaset="UTF-8" />
    <script src="https://kit.fontawesome.com/126ca43df6.js" crossorigin="anonymous"></script>
    <title>NaganoCake</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <header>
 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFCCFF">
 <div class="container-fluid">
    <div class="col-lg-10">
      <a class="navbar-brand p-3 text-light"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-brand"><%= link_to "LOGO", root_path %></li>
      </ul>
       <ul class="navbar-nav ml-auto">
         <% if customer_signed_in? %>
          <li class="nav-item">マイページ.</li>
          <li class="nav-item">商品一覧.</li>
          <li class="nav-item">カート.</li>
          <li class="nav-item"><%= link_to "ログアウト.", destroy_customer_session_path, method: :delete %></li>
        <% elsif %>
          <% if admin_signed_in? %>
          <li class="nav-item">商品一覧.</li>
          <li class="nav-item">会員一覧.</li>
          <li class="nav-item">注文履歴一覧.</li>
          <li class="nav-item">ジャンル一覧.</li>
          <li class="nav-item"><%= link_to "ログアウト.", destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to "About.", public_about_path %></li>
          <li class="nav-item">商品一覧.</li>
          <li class="nav-item"><%= link_to "新規登録.", new_customer_registration_path %></li>
          <li class="nav-item"><%= link_to "ログイン.", new_customer_session_path %></li>
        <% end %>
        <% end %>
      </ul>
    </div>
 </div>
 </nav>
 </header>

  <body>
    <%= yield %>
  </body>
</html>
